@import "variables";

.footer {
  padding: 40px 0;
  flex-grow: 0;
  opacity: .5;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    // width: 760px;
    max-width: 100%;

    @media (max-width: $container-max-width) {
      flex-direction: column;
    }
  }

  a {
    color: inherit;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9rem;
    color: var(--light-color-secondary);
    
    @media (max-width: $container-max-width) {
      align-items: center;
      font-size: 0.7rem;
    }
  }

  .copyright-theme-sep {
    margin: 10px;
    @media (max-width: $container-max-width) {
      display: none;
    }
  }

  .copyright-theme {
    @media (max-width: $container-max-width) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
